git+https://github.com/PrefectHQ/prefect@orion
ray[default] >= 1.12.0; python_version > '3.7' and python_version < '3.10' and platform_machine == "x86_64"
ray[default] >= 1.9, < 1.11.0; python_version == '3.7' and platform_machine == "x86_64"

